#colorSelector,#colorSelector2,#colorSelector3 {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}
#colorSelector div,#colorSelector2 div,#colorSelector3 div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}